.content-container {
    width: 45%;
    background: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-top: 54px;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 260px;
    min-height: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.222;
    text-align: center;
}

.content-container__element {
    width: 83.25%;
    height: 80px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 0;
    display: flex;
    color: #404040;
    background-color: #E8E8E8;
    justify-content: center;
    align-items: center;
}

.content-container__button {
    display: block;
    border: none;
    box-shadow: none;
    cursor: pointer;
    background-color: #979c97;
    color: #FFF;
}

.content-container__button_active {
    background-color: #C8C8C8;
    text-decoration: underline;
}

.content-container__button:hover {
    background-color: #C8C8C8;
}

.content-container__page-link {
    text-decoration: none;
    color: #0C0985;
    background-color: transparent;
}

.content-container__page-link:hover {
    color: #5D5AC0;
}

.content-container__page-link:active {
    color: #6D6BAF;
}

@media screen and (max-width: 650px) {
    .content-container {
        width: 90%;
        margin: 0 auto 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content-container__element {
        height: 50.15px;
    }
}